.register {
    margin-top: -60px;
    margin-bottom: 40px;
    text-align: center;
    z-index: 80;
}

@media (min-width: 768px) {
    .register-container {
        display: inline-block;
        vertical-align: middle;
        line-height: initial;
        text-align: left;
        width: 80%;
        min-width: 320px;
        max-width: 90% !important;
        background-color: #FAF8EC;
        border-radius: 15px;
    }

    .register-content {
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 769px) {
    .register-container {
        display: inline-block;
        vertical-align: middle;
        line-height: initial;
        text-align: left;
        width: 60%;
        min-width: 320px;
        max-width: 90% !important;
        background-color: #FAF8EC;
        border-radius: 15px;
    }

    .register-content {
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 767px) {
    .register-container {
        display: inline-block;
        vertical-align: middle;
        line-height: initial;
        text-align: left;
        width: 98%;
        min-width: 320px;
        max-width: 98% !important;
        background-color: #FAF8EC;
        border-radius: 15px;
    }

    .register-content {
        width: 98%;
        margin-left: 1%;
    }
}

.register-header {
    vertical-align: middle;
    line-height: initial;
    text-align: center;
    padding: 15px 0px;
    background-color: #4A7D44;
    color: #FAF8EC;
    border-radius: 15px 15px 0px 0px;
    z-index: 300 !important;
    margin-bottom: 15px;
}

.register-content {
    font-family: adobe-clean, sans-serif;
}

.register-content h3 {
    font-size: 22px;
    text-decoration: underline;
}

.register-content span {
    font-weight: bold;
}

.register-content li {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0.5rem;
    list-style: outside;
    margin-left: 5%;
}

.UserCode,
.UserCodeResult {
    padding-top: 10px;
    text-align: center;
    color: rgb(211, 115, 89);
    font-weight: 600;
    display: none;
}

.form-success h2:first-of-type {
    color: #4A7D44;
}

.form-success {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.modal-open,
body {
    overflow: auto !important;
}

form {
    font-family: adobe-clean, sans-serif !important;
}

form input:focus {
    outline: rgb(74 125 68 / 25%) solid 0.2rem !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 0 0 0.2rem rgb(74 125 68 / 25%) !important;
}

form .row {
    justify-content: space-between;
    margin: 0;
}

form .row input[type=text] {
    width: 48%
}

form .row input[type=number] {
    width: 95%
}

form p {
    margin-bottom: 0;
    margin-top: 5px;
    width: auto;
}

form p:first-of-type {
    margin-top: 0;
}

form label {
    font-size: 1rem;
    color: #212529;
    font-weight: 600;
    margin: 3px;
}

form p span.label-discription {
    color: #4A7D44;
}

form p:has(span.form-total) {
    margin-block: .5rem .3rem;
}

form input[type=text],
input[type=time],
input[type=number],
input[type=email],
input[type=tel] {
    font-size: 1rem;
}

input[type=text],
select,
input[type=time],
input[type=number],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-sizing: border-box;
    color: #212529;
}

.btn-submit,
.btn-shop-submit,
.btn-close-email,
.btn-shop-confirm,
.btn-shop-close,
.btn-modal-footer,
.btn-submit-email-code,
.btn-submit-email {
    width: 100%;
    border-radius: 4px !important;
}

.btn-close-email,
.btn-shop-close,
.btn-close-email-code {
    display: none !important;
}

.modal *:not(input, i),
.modal-header,
.modal-body,
.modal-footer {
    font-family: adobe-clean, sans-serif;
    border: none !important;
}

.modal-header p {
    cursor: pointer;
    font-size: 1rem;
}

.modal-title {
    font-size: 20px;
}

.modal-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.modal-body p {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-body span {
    font-weight: bold;
    color: #000;
}

#shopBuyModal input {
    box-shadow: none !important;
}

.choosen-item {
    margin-bottom: 20px;
}

.choosen-item .choosen-item-name,
.choosen-item .choosen-item-price {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #005329;
}

.choosen-item .choosen-item-price {
    color: #4A7D44;
}

#shopBuyModal img {
    width: 100%;
    border-radius: 4px;
}

.choosen-item .col-8 div {
    display: flex;
    justify-content: space-between;
}

.UserEvents {
    display: none;
}

.UserEventsResults {
    color: #4A7D44 !important;
}

.modal-footer a {
    margin: 0 !important;
}

.loader {
    width: 100px;
    margin-top: -30px;
}

.loader-path {
    fill: none;
    stroke: #4A7D44;
    stroke-width: 0.3em;
    stroke-linecap: round;
}

.loader-path {
    stroke-dasharray: 10, 10;
}

.loader-path {
    animation: animate-stroke 1.5s ease-in-out infinite;
}

.circular-loader {
    animation: rotate 2s linear infinite;
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.payconiq-img img {
    width: 200px;
    border-radius: 0;
    cursor: pointer;
}

.payconiq-modal-img img {
    width: 150px;
    border-radius: 0;
}

.payconiq-modal .modal-dialog {
    position: relative;
}

.payconiq-modal .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    z-index: 999;
    cursor: pointer;
}

.payconiq-modal .btn-close i {
    font-size: 1.5rem;
    color: #fff;
}

.payconiq-modal .modal-content {
    text-align: center;
    background-color: #FF4785;
    color: #fff;
    border-radius: 15px;
    padding: 3rem 1rem 10px 1rem;
}

.payconiq-modal .modal-content .modal-body {
    display: flex;
    flex-direction: column;
}

.payconiq-modal .modal-content .modal-body h3 {
    font-weight: 600;
}

.payconiq-modal .modal-content .modal-body .payconiq-link {
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    text-decoration: underline;
}

.payconiq-qrcode {
    display: flex;
    margin: auto;
    max-width: 200px;
}


.btn-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-row .btn {
    flex: 1;
}

.signup-subheader {
    margin: 0 !important;
}

.signup-count {
    margin-bottom: 1rem;
    color: #4A7D44;
    font-size: 1.5rem;
}

/* Success Page */

.payment-success {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 1.5rem;
}

.payment-success i {
    font-size: 5rem;
    color: #4A7D44;
    margin-bottom: 1rem;
}