.volunteers {
    overflow-x: auto;
}

.volunteers-nav-icon {
    padding: 1rem;
    color: #4a7d44;
}

.volunteers-nav-icon-disabled {
    opacity: 0;
}

.volunteers-select-date {
    display: flex;
    margin: 0 auto 2rem !important;
}

.volunteers-table {
    position: relative;
    margin-bottom: 5rem;
}

.volunteers-table thead tr th {
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #999;
}

.volunteers-table thead tr th:first-child {
    text-align: left;
}

.volunteers-table tbody tr td:not(:first-child) {
    min-width: 7rem;
    max-width: 7rem;
    height: 50px;
    text-align: center;
    transition: border-top 0.2s ease-in-out;
}

.volunteers-table tbody tr td:first-child {
    width: 1%;
    height: 50px;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #fff 60%, transparent 50%);
    color: #999;
    transition: scale 0.2s ease-in-out, color 0.2s ease-in-out, border-top 0.2s ease-in-out;
}

.volunteers-table tbody tr:first-child td:first-child:first-of-type {
    display: none;
}

.volunteers-table tbody tr td>div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-radius: 0.5rem;
    font-family: "inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.volunteers-table-counter {
    font-size: 1rem !important;
}

.volunteers-table-full {
    background-color: #ee7357;
    height: -webkit-fill-available;
}

.volunteers-table-spots {
    justify-content: space-between !important;
    background-color: #fcc000;
    height: -webkit-fill-available;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.volunteers-table-spots:hover {
    background-color: #eca807;
}

.volunteers-table-spots span {
    font-size: 1rem;
    font-weight: 500;
}

.volunteers-table-spots .fa-ban {
    display: none;
}

.volunteers-table-spots .volunteers-table-counter {
    display: block;
}

.volunteers-table-signup-selected {
    background-color: #4a7d44;
}

.volunteers-table-signup-selected:hover {
    background-color: #3a6d34;
}

.volunteers-table-signup-overlap {
    cursor: not-allowed;
}

.volunteers-table-signup-overlap:hover {
    background-color: #fcc000;
}

.volunteers-table-signup-overlap .fa-ban {
    display: block;
    font-size: 1.25rem;
}

.volunteers-table-signup-overlap .volunteers-table-counter {
    display: none;
}

.volunteers-signup-add-btn {
    display: none;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    min-width: 25rem;
    max-width: 90%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transform: translateX(-50%);
}

.volunteers-signup-add-btn:hover {
    opacity: .8;
}

.volunteers-modal-footer {
    display: block;
}

.modal-footer:not(.btn-stack) {
    display: block;
}

.modal-footer .btn {
    width: 100%;
    border-radius: 0.25rem;
}

label {
    display: block;
    margin-bottom: 0 !important;
}

.volunteers-input {
    width: 100% !important;
}

.volunteers-options-event {
    margin-bottom: 0.5rem !important;
}

.volunteers-options-shifts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.volunteers-options-shifts-task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.volunteers-options-shifts-task-title {
    font-size: 1.2rem;
}

.volunteers-options-shifts-time {
    color: #fff !important;
    background-color: #4a7d44;
    border-radius: 0.5rem;
    padding: 0.4rem 0.7rem;
}

.volunteers-signup-points {
    color: #4a7d44;
}

.volunteers-signup-account {
    display: none;
}

.volunteers-signup-account-user {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1.2rem;
    border: 1px solid rgb(185, 185, 190);
    background-color: transparent;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.volunteers-signup-account-user:hover {
    background-color: rgba(185, 185, 190, 0.178);
}

.volunteers-signup-account-user i {
    font-size: 3rem;
    color: rgb(185, 185, 190);
}

.volunteers-signup-account-user h3,
.volunteers-signup-account-user p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 768px) {
    .volunteers-table thead tr th {
        font-weight: 600;
    }

    .volunteers-table tbody tr td {
        font-weight: 600;
    }

    .volunteers-table tbody tr td:first-child {
        font-weight: 600;
    }

    .volunteers-table-spots span {
        font-weight: 600;
    }
}