.volunteers-day {
    margin-bottom: 1rem;
}

.volunteers-date {
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.volunteers-task-title {
    font-size: 1rem;
}

.volunteers-task-shifts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.volunteers-shift {
    display: flex;
    width: 200px;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid rgb(185, 185, 190);
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

@media (max-width: 445px) {
    .volunteers-shift {
        width: 100%;
    }
}

.volunteers-shift:not(.volunteers-shift-selected, .volunteers-shift-full, .volunteers-shift-overlap):hover {
    background-color: rgba(185, 185, 190, 0.178);
}

.volunteers-shift-selected {
    background-color: #fcc000;
    color: #fff;
    border-color: #fcc000;
}

.volunteers-shift-full {
    background-color: #ee7357;
    color: #fff;
    border-color: #ee7357;
    pointer-events: none;
    cursor: not-allowed;
}

.volunteers-shift-overlap {
    background-color: #4a7d44;
    color: #fff;
    border-color: #4a7d44;
    pointer-events: none;
    cursor: not-allowed;
}

.volunteers-shift-overlap-icon,
.volunteers-shift-counter {
    width: 2rem;
    text-align: right;
}

.volunteers-shift-overlap-icon {
    display: none;
}

.volunteers-shift-counter {
    display: block;
}

.volunteers-shift-overlap .volunteers-shift-overlap-icon {
    display: inline-block;
    color: #fff;
}

.volunteers-shift-overlap .volunteers-shift-counter {
    display: none;
}

.volunteers-signup-add-btn {
    display: none;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    min-width: 25rem;
    max-width: 90%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transform: translateX(-50%);
}

.volunteers-signup-add-btn:hover {
    opacity: .8;
}

.volunteers-modal-footer {
    display: block;
}

.modal-footer:not(.btn-stack) {
    display: block;
}

.modal-footer .btn {
    width: 100%;
    border-radius: 0.25rem;
}

label {
    display: block;
    margin-bottom: 0 !important;
}

.volunteers-input {
    width: 100% !important;
}

.volunteers-options-event {
    margin-bottom: 0.5rem !important;
}

.volunteers-options-shifts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.volunteers-options-shifts-task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.volunteers-options-shifts-task-title {
    font-size: 1.2rem;
}

.volunteers-options-shifts-time {
    color: #fff !important;
    background-color: #4a7d44;
    border-radius: 0.5rem;
    padding: 0.4rem 0.7rem;
}

.volunteers-signup-points {
    color: #4a7d44;
}

.volunteers-signup-account {
    display: none;
}

.volunteers-signup-account-user {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1.2rem;
    border: 1px solid rgb(185, 185, 190);
    background-color: transparent;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.volunteers-signup-account-user:hover {
    background-color: rgba(185, 185, 190, 0.178);
}

.volunteers-signup-account-user i {
    font-size: 3rem;
    color: rgb(185, 185, 190);
}

.volunteers-signup-account-user h3,
.volunteers-signup-account-user p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 768px) {
    .volunteers-table thead tr th {
        font-weight: 600;
    }

    .volunteers-table tbody tr td {
        font-weight: 600;
    }

    .volunteers-table tbody tr td:first-child {
        font-weight: 600;
    }

    .volunteers-table-spots span {
        font-weight: 600;
    }
}